[core]
  editor = vim
[include]
  path = ~/.gitconfig_local
[push]
  default = current
[alias]
  ciae = commit --allow-empty
  co = checkout
[fetch]
  prune = true
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
